:root {
  --pGreyColor: #7f7f7f;
  --pWhiteColor: #ffff;
  --sWhiteColor: #FAF9F6;
  --lightWoodColor: #E6BF83;
  --oldWoodColor: #BA8C63;
  --successColor: #5cb85c;
  --dangerColor: #d9534f;
  --warningColor: #f0ad4e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: 'Poppins', sans-serif;
  background-color: var(--sWhiteColor);
}

.input__group {
  display: flex;
  margin: 20px 0;
  align-items: center;
  position: relative;
}

.input__group label {
  color: var(--pWhiteColor);
}

input {
  border: unset;
  border-bottom: solid 2px var(--lightWoodColor);
  border-radius: 4px;
  width: 90%;
  height: 30px;
  caret-color: var(--oldWoodColor);
  color: var(--pGreyColor);
  font-size: 18px;
  padding: 5px 10px;
  letter-spacing: 1px;
  right: 0;
  position: absolute;
}

.search__input {
  width: 87%;
}

#label__book__iscomplete__input {
  position: absolute;
  right: 20px;
}

#book__iscomplete__input {
  width: auto;
}

input:focus{
  outline: none;
  border-bottom: solid 2px var(--oldWoodColor);
}

header {
  text-align: center;
  background-color: var(--pWhiteColor);
  width: max-content;
  margin: auto;
  padding: 10px 20px;
  margin-top: 20px;
}

main {
  width: 70%;
  background-color: var(--lightWoodColor);
  margin: auto;
  padding: 30px 25px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.book__form {
  border-width: 0;
  width: 70%;
  margin: auto;
}

.input__book__form {
  margin-top: 20px;
}

.title__form {
  color: var(--pWhiteColor);
}

#submit__new__book__button {
  width: 100%;
  border: unset;
  padding: 10px 0;
  background-color: var(--oldWoodColor);
  color: var(--pWhiteColor);
  cursor: pointer;
}

#submit__new__book__button p {
  font-size: 16px;
}

.bookshelf {
  width: 100%;
  border-top: 1px solid var(--oldWoodColor);
  margin-top: 20px;
}

.search__book__form {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.search__book__form h2 {
  color: var(--pWhiteColor);
}

.bookshelf__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bookshelf__list {
  width: 95%;
  border-radius: 8px;
  min-height: 110px;
  border: solid 2px var(--oldWoodColor);
  padding: 0 10px;
  margin: 10px;
}

.bookshelf__list__title {
  color: var(--pWhiteColor);
}

.book {
  padding: 5px 15px 15px;
  background-color: var(--pWhiteColor);
  margin: 5px 10px 15px;
  border-radius: 8px;
}

.book__description {
  color: var(--pGreyColor);
}

.book__button {
  margin-top: 8px;
}

.book__button .button {
  margin-right: 5px;
  padding: 3px 8px;
  cursor: pointer;
}

.complete__button {
  background-color: var(--pWhiteColor);
  color: var(--successColor);
  border: 1px solid var(--successColor);
}

.incomplete__button {
  background-color: var(--pWhiteColor);
  color: var(--warningColor);
  border: 1px solid var(--warningColor);
}

.delete__button {
  background-color: var(--pWhiteColor);
  color: var(--dangerColor);
  border: 1px solid var(--dangerColor);
}

.edit__button {
  background-color: var(--pWhiteColor);
  color: var(--pGreyColor);
  border: 1px solid var(--pGreyColor);
}

footer {
  text-align: center;
  margin: 30px 0;
  color: var(--pGreyColor);
}

.me  {
  text-decoration: underline;
  cursor: pointer;
}


@media only screen and (max-width: 978px) {

  main {
    flex-direction: column;
    width: 95%;
    padding: 20px 10px;
  }

  .book__form {
    width: 100%;
  }
  
  #submit__new__book__button p {
    font-size: 14px;
  }

  .book__button {
    display: flex;
    flex-direction: column;
  }

  .book__button button {
    margin-bottom: 10px;
  }

  input {
    width: 80%;
  }

  .bookshelf {
    margin-top: 20px;
  }

  .bookshelf__container {
    flex-direction: column;
  }

  .search__book__form {
    width: 90%;
  }

  .search__input {
    width: 70%;
  }

  .bookshelf__list {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

}